<p id="notice"><%= notice %></p>
<div class="bodytext" style="padding:12px;" align="left">
	<span class="smalltitle" ><%= @article.title %></span><br />
 	<span class="bodytext"><%=raw @article.content %></span>
</div>