<div class="bodytext" style="padding:12px;" align="justify">
Для того, щоб виїхати в Польщу і бути там офіційно працевлаштованим Вам необхідно:</br>
1. Подати ксерокс  закордонного та українського паспортів, на  основі яких ми збираємо повний пакет документів для одержання візи із правом на роботу, і подати їх до консульства Польщі у своїй країні.</br>
2. після отримання польської візи, Вам  необхідно звернутись до нас і визначити на яку саме з запропонованих робіт поїхали б саме Ви.</br>
3.3. наступним кроком буде купівля квитка на транспорт і по визначеному нами маршруту доїзд до праці.</br>
</div>