<div class="bodytext" style="padding:12px;" align="justify">
<ul>
<strong>Для того, щоб виїхати в Польщу і бути там офіційно працевлаштованим Вам необхідно:</strong><p>
<li>1. Подати ксерокс  закордонного та українського паспортів, на  основі яких ми збираємо повний пакет документів для одержання візи із правом на роботу, і подати їх до консульства Польщі у своїй країні.</li>
<li>2. Після отримання польської візи, Вам  необхідно звернутись до нас і визначити на яку саме з <%= link_to "запропонованих робіт", vacancies_path %> поїхали б саме Ви.</li>
<li>3. Купівля квитка на транспорт і по визначеному нами маршруту доїзд до місця праці.</li>
<ul>
</div>