	<div style="padding:10px">
		<span class="titletext">Кадрове агенство </br>«West Partners»</span>
	</div>
	<div class="bodytext" style="padding:12px;" align="justify">
	<strong>Запрошуємо до співпраці!</strong><br />
	<br />
	West Partners інформаційно- кадрове агенство , яке діє в сфері працевлаштування громадян України , а також громадян СНД за кордоном, зокрема в Польщі. Ми працюємо у таких сферах: будівництво, обслуговуючий персонал, сільське господарство, промисловість, виробництво та інше.<br /><br />
	Вибравши нас Ви гарантовано отримаєте повну та достовірну інформацію про актуальні вакансії. </br>
	Працівники нашого агенства розкажуть Вам усі плюси та мінуси працевлаштування за кордоном. У нас індивідуальний підхід до кожного клієнта, відповідно до усіх його вимог і потреб. </br>
	</div>